#habilidades {
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__item {
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    margin-top: 1rem;
    width: 11rem;
}

.skills__item figcaption {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.5em;
}

.skills__item img {
    fill: #2A7AE4;
    stroke: #2A7AE4;
    height: 2.2rem;
}

#hobbies {
    padding-top: 2.5rem;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__item {
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    margin-top: 1rem;
    width: 11rem;
}

.hobbies__item figcaption {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.5em;
}

.hobbies__item img {
    fill: #2A7AE4;
    stroke: #2A7AE4;
    height: 2.2rem;
}

/* ----------------responsividade------------------------- */ 

@media screen and (min-width:0) {
    #habilidades {
        padding: 1rem 1rem 0 1rem;
    }

    .skills {
        padding: 1rem 0;
        justify-content: space-around;
    }

    .skills__item {
        height: 8rem;
    }

    .hobbies {
        padding: 1rem 0;
        justify-content: space-around;
    }

    .hobbies__item {
        height: 8rem
    }
}

@media screen and (min-width:768px) {
    #habilidades {
        padding: 2rem 3rem 0 3rem;
    }

    .hobbies {
        padding: 4rem 0;
    }
}

@media screen and (min-width:992px) {
    #habilidades {
        padding: 4rem 6rem 0 6rem;
    }

    .skills {
        justify-content: space-between;
        padding: 4em 0;
    }

    .skills__item {
        height: 11rem;
    }

    .hobbies {
        padding: 4rem 0;
        justify-content: space-between;
    }

    .hobbies__item {
        height: 11rem
    }
}