#sobre {
    background-color: #EAF2FD;
    width: 100%;
}

.sobre__texto h3 {
    padding-bottom: 0.75rem;
}

.sobre__texto p {
    line-height: 1.3rem;
}

/* ----------------responsividade------------------------- */ 

@media screen and (min-width:0) {
    #sobre {
        padding: 1rem 1rem;
    }
}

@media screen and (min-width:768px) {
    #sobre {
        padding: 2rem 3rem;
    }
}

@media screen and (min-width:992px) {
    #sobre {
        padding: 4rem 6rem;
    }
}