*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: 'Inter';
}

@font-face {
    src: url(Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter';
    font-weight: normal;
    border: none;
}


header h2 span {
    transition: all 350ms;
}

header a:hover {
    text-decoration: none;
}

header a:hover  span{
    color: #7770db;
}


