*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: #464646;
    font-family: 'Raleway';
}


body {
    background-color: #F5F5F5;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}


/* ----------------responsividade------------------------- */ 

@media screen and (min-width:0) {
    
}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:992px) {
    
}